/*   prefix everything with  coop-c-call-out-branch__ */

@media only screen and (min-width: 768px) {
    .coop-c-call-out__container {
        color: #203252;
        display:flex;
        align-content: center;
        margin:3em 0;
        padding:0 1.5em;
    }
    .coop-c-call-out__background {
        width:100%;
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        border-radius: 8px;
        background-color: #E4E8F1 ;
        background-size: cover;
        
    }

    .coop-c-call-out__half{
        margin-left:5em;
        padding:3em 2em; 
        max-width:45%;
        flex:1 1;
    }

    .coop-c-call-out__no-styling{
        color:inherit;
    }

    .coop-c-call-out__opening-times{
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .coop-c-call-out__times{
        margin-left:4em;
    }
    .coop-c-call-out__bold{
        font-weight: bold;
    }
    .coop-c-call-out__p-size{
        font-size: 1.4em;
    }

}

@media only screen and (max-width: 600px) {
    .coop-c-call-out__container {
        color: #203252;
        display:flex;
        align-content: center;
        margin:2em 0;
        padding:0 1em;
    }
    .coop-c-call-out__background {
        width:100%;
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        border-radius: 8px;
        background-color: #E4E8F1 ;
        background-size: cover;
    }
    .coop-c-call-out__half{ 
        padding:2em 2em; 
    }
    .coop-c-call-out__h2{
        margin-bottom: 1.5em;
    }
    .coop-c-call-out__no-styling{
        color:inherit;
    }

    .coop-c-call-out__top-gap {
        padding-top:1em;
    }
    .coop-c-call-out__bold{
        font-weight: bold;
    }
    .coop-c-call-out__p-size{
        font-size: 1.1em;
    }

}
